#ahmad{
    width: 50;
    border-collapse: collapse;
  }
#ahmad tr:hover {
    background-color: #ddd;
}
#ahmad td, #ahmad th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  span{
    color: green;
    width: 7px;
  }
  hr{
    width: 1200px;
  }
  pre{
    color: blue;
    font-size: 20px;
    font-weight: 500;
  }
#audio{
    text-decoration: none;
    color: black;
}
button{
    margin-left: 20px;
}
#poetry{
    margin-left: 150px;
}
h2{
    background-color: green;
    width: fit-content;
    color: white;
}

