#ahmad{
    width: 50;
    border-collapse: collapse;
  }
#ahmad tr:hover {
    background-color: #ddd;
}
#ahmad td, #ahmad th {
    border: 1px solid #ddd;
    padding: 8px;
}
span{
    color: green;
    width: 7px;
    text-shadow: 1px 1px 1px green;

}
hr{
    max-width: 1200px;
  }
pre{
    color: blue;
    font-size: 20px;
    font-weight: 500;
    
}
#audio{
    text-decoration: none;
    color: black;
}
button{
    margin-left: 20px;
}
#poetry{
    margin-left: 150px;
}
h1{
    background-color: green;
    width: fit-content;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 1px black;

}
h2{
    background-color: green;
    width: fit-content;
    color: white;
    text-transform: capitalize;
    text-shadow: 3px 3px 1px black;
}
img{
    border-radius: 3px;
    /*box-shadow: 1px 1px 3px 2px blue ;*/
}
p{
    word-spacing: 3px;
    line-height: 25px;
}
#text{
    /*text-decoration: dashed underline blue;*/
}